<div mat-dialog-title>
  <h1>Office form</h1>
</div>
<div mat-dialog-content class="content">
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Company Name</mat-label>
      <input matInput type="text" placeholder="Designtribeindia" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Registered Company Name</mat-label>
      <input matInput placeholder="Designtribe(india)pvt limited" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Short Name</mat-label>
      <input matInput type="text" placeholder="DTPL" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <input matInput placeholder="country" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input matInput type="text" placeholder="98xxxxxxxx" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Fax</mat-label>
      <input matInput placeholder="99xxxxxxxx" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="text" placeholder="sunsunnysinger@gmail.com" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Website</mat-label>
      <input matInput placeholder="www.website.com" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>WhatsApp Support</mat-label>
      <input matInput placeholder="98xxxxxxxx" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>LinkedIN</mat-label>
      <input matInput type="text" placeholder="" />
    </mat-form-field>
  </div>
</div>

<div mat-dialog-actions class="action">
  <button mat-raised-button>Cancel</button>
  <button mat-raised-button color="primary">Save</button>
</div>
